.two-line-text {
    display: -webkit-box;       
    -webkit-line-clamp: 2;      
    -webkit-box-orient: vertical; 
    overflow: hidden;          
    text-overflow: ellipsis;   
  }

  /* home  */
  .home-hero {
    background-image: url('../src/assets/img/hero/hero-1.jpg');
    background-size: 100%;
  }


